//apagar rock lee vs gaara page-wrapper.component.scss
.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
}

.remember-check{
    margin-top: 1vh;
    margin-left: auto;
}

input[type="submit"]{
    height: 25px;
    width: 50%;
    background-color: #015294;
    border: none;
    color: #fff;
    font-size: 0.75rem;
    margin-top: 1vh;
    margin-left: 25%;
}

/*
.login-label{
        
}

.login-password-input{

}

.login-email-input{

}
*/