form {
    min-height: calc(100vh - 160px);
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}


input[type="submit"] {
    height: 25px;
    width: 50%;
    background-color: #015294;
    border: none;
    color: #fff;
    font-size: 0.75rem;
    margin-top: 1vh;
    margin-left: 25%;
}