.login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    text-align: center;
}

/*
.login-label{
        
}

.login-password-input{

}

.login-email-input{

}
*/