<div class="dialog-container">
  <h2 mat-dialog-title class="dialog-title">
    <mat-icon class="title-icon">info</mat-icon>
    {{ data.title }}
  </h2>
  <mat-dialog-content class="dialog-content">
    <p class="dialog-message">{{ data.message }}</p>
    <app-info-display
      *ngIf="data.entity"
      [dataObject]="data.entity"
      [title]="'Detalhes da submissão'"
      [keyLabels]="keyLabelsMap"
    >
    </app-info-display>
  </mat-dialog-content>
  <mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button class="cancel-button" (click)="onNoClick()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button
      mat-raised-button
      color="primary"
      class="confirm-button"
      (click)="onYesClick()"
    >
      <mat-icon>check</mat-icon>
      Confirmar
    </button>
  </mat-dialog-actions>
</div>
