<mat-sidenav-container class="sidenav-container mat-app-background">
  <!-- Menu Lateral -->
  <mat-sidenav
    *ngIf="userFacade.user$ | async"
    #sidenav
    mode="side"
    [(opened)]="isSidenavOpen"
  >
    <mat-nav-list>
      <a mat-list-item routerLink="/">Início</a>
      <a mat-list-item *ngIf="isUserProfessor$ | async" [routerLink]="'/class'"
        >Turmas</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="userFacade.user$ | async"
        mat-icon-button
        (click)="toggleSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>ThinkEdu</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>

    <mat-toolbar color="primary" class="footer">
      <span>&copy; 2024 ThinkEdu.</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
