.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://media.tenor.com/qC6EyHfCQncAAAAe/rock-lee-gaara.png');
    background-size: cover;
}

.content {
    padding: 16px;
    flex: 1;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}