.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    padding: 16px;
    flex: 1;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}