<div class="create-class-container">
  <form [formGroup]="createClassForm" (ngSubmit)="createClass()">
    <h1>Criar uma turma</h1>

    <mat-form-field class="field-container">
      <mat-label for="className">Turma:</mat-label>
      <input
        matInput
        type="text"
        name="className"
        class="create-class-input"
        formControlName="className"
      />
    </mat-form-field>

    <mat-form-field class="field-container">
      <mat-label for="studentEmails">Emails dos alunos</mat-label>
      <textarea
        matInput
        placeholder="Ex. student@email.com, studant2@email..."
        name="studentEmails"
        class="create-class-input"
        formControlName="studentEmails"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="field-container">
      <mat-label for="semester">Semestre</mat-label>
      <input
        matInput
        type="text"
        name="semester"
        class="create-class-input"
        formControlName="semester"
      />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="submit-button"
      type="submit"
    >
      Create
    </button>
  </form>
</div>
