.class-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;


    .class-card {
        flex: 1 1 calc(25% - 16px);
        box-sizing: border-box;
        aspect-ratio: 1.5;
        max-width: calc(25% - 16px);
        background-color: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        cursor: pointer;

        mat-card-content {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            width: 90%;
        }

        .add-class-icon {
            margin: auto;
            font-size: 25px;

        }
    }

    @media (max-width: 768px) {
        .class-card {
            flex: 1 1 calc(50% - 16px);
            max-width: calc(50% - 16px);
        }
    }

    @media (max-width: 480px) {
        .class-card {
            flex: 1 1 calc(100% - 16px);
            max-width: calc(100% - 16px);
        }
    }
}