<div class="class-grid">
  <mat-card *ngFor="let class of classFacade.class$ | async" class="class-card">
    <mat-card-header>
      <mat-card-title>
        {{ class.className }}
      </mat-card-title>
      <mat-card-subtitle>{{ class.semester }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><label>Alunos convidados: </label>{{ class.invitedStudents }}</p>
      <p>
        <label>Etapa do projeto: </label
        >{{ parseProjectStep(class.projectStep) }}
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card [routerLink]="'/create-class'" class="class-card">
    <mat-card-header>
      <mat-card-title> Criar nova turma </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <a class="add-class-icon">+</a>
    </mat-card-content>
  </mat-card>
</div>
