<div class="project-container">
  <div class="project-header">
    <h1>Projeto {{ projectId }}</h1>
    <div class="step-indicator">
      <a
        [routerLink]="['/project', projectId, 'challenge-definition']"
        [class.active]="currentStep === 'challenge-definition'"
      >
        Definição
      </a>
      <a
        [routerLink]="['/project', projectId, 'empathy']"
        [class.active]="currentStep === 'empathy'"
        >Empatia</a
      >
      <a
        [routerLink]="['/project', projectId, 'problem-definition']"
        [class.active]="currentStep === 'problem-definition'"
        >Aprofundamento</a
      >
      <a
        [routerLink]="['/project', projectId, 'ideate']"
        [class.active]="currentStep === 'ideate'"
        >Ideação</a
      >
      <a
        [routerLink]="['/project', projectId, 'prototype']"
        [class.active]="currentStep === 'prototype'"
        >Protótipo</a
      >
      <a
        [routerLink]="['/project', projectId, 'conclusion']"
        [class.active]="currentStep === 'conclusion'"
        >Conclusão</a
      >
      <a
        *ngIf="isProfessor"
        [routerLink]="['/project', projectId, 'metrics']"
        [class.active]="currentStep === 'metrics'"
        >Métricas</a
      >
    </div>
  </div>

  <div class="project-content">
    <router-outlet></router-outlet>
  </div>
</div>
